language: python

python:
    - "3.4"
    - "3.5"
    - "3.6"

sudo: false

install:
    - pip install tox-travis

script:
    - tox

after_success:
    - pip install codecov
    - codecov

notifications:
    email: true
